USE [master]
GO
/****** Object:  Database [LocalChat]    Script Date: 16.04.2020 23:23:20 ******/
CREATE DATABASE [LocalChat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LocalChat', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LocalChat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LocalChat_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LocalChat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LocalChat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LocalChat]
GO
/****** Object:  Table [dbo].[Mesajlar]    Script Date: 16.04.2020 23:23:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajlar](
	[msj_id] [int] IDENTITY(1,1) NOT NULL,
	[uye_id] [int] NOT NULL,
	[msj_icerik] [varchar](200) NOT NULL,
	[msj_tarih] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[msj_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uye]    Script Date: 16.04.2020 23:23:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uye](
	[uye_id] [int] IDENTITY(1,1) NOT NULL,
	[uye_ad] [varchar](50) NOT NULL,
	[uye_soyad] [varchar](50) NOT NULL,
	[uye_cinsiyet] [varchar](5) NOT NULL,
	[uye_eposta] [varchar](70) NOT NULL,
	[uye_sifre] [varchar](12) NOT NULL,
	[uye_pf] [image] NOT NULL,
 CONSTRAINT [PK_Uye] PRIMARY KEY CLUSTERED 
(
	[uye_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Mesajlar] ON 

INSERT [dbo].[Mesajlar] ([msj_id], [uye_id], [msj_icerik], [msj_tarih]) VALUES (1, 1, N'Deneme', CAST(N'2020-04-13T18:56:30.643' AS DateTime))
INSERT [dbo].[Mesajlar] ([msj_id], [uye_id], [msj_icerik], [msj_tarih]) VALUES (2, 5, N'Oldu sanırım', CAST(N'2020-04-13T18:56:43.553' AS DateTime))
INSERT [dbo].[Mesajlar] ([msj_id], [uye_id], [msj_icerik], [msj_tarih]) VALUES (3, 5, N'Mesaj Yaz', CAST(N'2020-04-14T12:07:26.913' AS DateTime))
SET IDENTITY_INSERT [dbo].[Mesajlar] OFF
SET IDENTITY_INSERT [dbo].[Uye] ON 

SET IDENTITY_INSERT [dbo].[Uye] OFF
ALTER TABLE [dbo].[Mesajlar]  WITH CHECK ADD FOREIGN KEY([uye_id])
REFERENCES [dbo].[Uye] ([uye_id])
GO
USE [master]
GO
